body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Horizontal scrollni bloklaydi */
}


header{
    width: 100%;
    height: 100vh;
    background-image: url(./image/background.png);
    background-size: 100%;
}

nav{
    width: 938.62px;
    height: 64.61px;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 29.11px;
    align-items: center;
    justify-content: center;
}

.nav_logo{
    margin-left: 150px;
    margin-top: 10px;
    width: 132.77px;
    height: 41.18px;
    font-family: "Montserrat", sans-serif;
    font-size: 37.04px;
    font-weight: 900;
    line-height: 22.72px;
    text-align: left;
    color: rgba(37, 43, 66, 1);
}

.main{
    display: flex;
    gap: 166.85px;
    width: 578.65px;
    height: 41.18px;
    align-items: center;
    position: relative;
    left: 128.44px;
}

.menu{
    display: flex;
    gap: 59.91px;
    position: relative;
    left: 130px;
}

.menu a{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 17.94px;
    font-weight: 600;
    color:rgba(115, 115, 115, 1);
}

.sign{
    align-items: center;
    display: flex;
    gap: 30.65px;
    position: relative;
    left: 340px;
}

.sign a{
    text-decoration: none;
    color: rgba(35, 166, 240, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 23.94px;
    font-weight: 700;
}

.sign button{
    background: rgba(35, 166, 240, 1);
    width: 215.94px;
    height: 60.92px;
    color: #fff;
    font-size: 19px;
    border: none;
    border-radius: 3.55px;
    position: relative;
    left: 1px;
}

.about {
    display: flex;
    align-items: center;
    position: relative;
    left: 295.56px;
    margin: x auto;
}

.about .left{
    position: relative;
    top: 170px;
    right: 40px;
}

.about .left h1{
    font-family: "Montserra", sans-serif;
    font-size: 66px;
    font-weight: 800;
    line-height: 80px;
    color: #252B42;
}

.about .left p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(115, 115, 115, 1);
}

.main_btn {
    display: flex;
    gap: 15px;
}

.about .left button{
    width: 237px;
    height: 60px;
    border-radius: 37px;
    border: none;
}

 #headr_btn1{
    background: rgba(35, 166, 240, 1);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

#headr_btn2{
    background: #fff;
    color: rgba(35, 166, 240, 1);
    font-size: 20px;
    font-weight: 700;
    border: solid 2px rgba(35, 166, 240, 1);
}

.about .image{
    position: relative;
    top: 190px;
    left: 125px;
    width: 710px;
    height: 783px;
}

.about .image img{
    width: 100%;
    height: 100%;
}

section .container{
    width: 1440px;
    height: 750px;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

section .container h2{
    color: #252B42;
    font-weight: 900;
    font-family: "Montserrat",sans-serif;
    font-size: 60px;
    text-align: center;
}

section .container .pragraph p{
    text-align: center;
    font-family: "Montserrat",sans-serif;
    color: #737373;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.row {
    display: flex;
    gap: 60px;
}

.row .card {
    width: 428px;
    height: 194px;
    background: rgba(250, 250, 250, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    border: solid 2px rgba(233, 233, 233, 1);
}

.row .card img{
    width: 60px;
    height: 50px;
}

.row .card2 img{
    width: 60px;
    height: 50px;
}

.row .card p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #252B42;
}

.row .card2 {
    width: 428px;
    height: 194px;
    color: #fff;
    background: rgba(35, 166, 240, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
}
.testimonials{
    background: rgba(250, 250, 250, 1);
}

.testimonials .container{
    width: 1440px;
    height: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 50px;
}

.testimonials .container .row{
    display: block;
    text-align: center;
}

.testimonials .container .row h2{
    font-family: "Montserrat",sans-serif;
    font-size: 80px;
    font-weight: 900;
    color: #252B42;
}

.testimonials .container .row p{
    font-family:" Montserrat",sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #737373;
    position: relative;
    bottom: 45px;
}

.testimonials .container .inline_row{
    display: flex;
    gap: 45px;
}

.testimonials .container .inline_row .card{
    width: 440px;
    height: 335px;
    border: solid 2px rgba(222, 222, 222, 1);
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
}

.testimonials .container .inline_row .card .card_content{
    margin: 20px;
}

.testimonials .container .inline_row .card .frame1{
    display: flex;
    gap:20px;
}

.testimonials .container .inline_row .card .frame1 img{
    width: 90px;
    position: relative;
    bottom: 10px;
}

.container_fluid {
    background: rgba(250, 250, 250, 1);
}

.inline_row .card .card_content h6{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(115, 115, 115, 1);
}

.inline_row .card .card_content .card_cont a{
    text-decoration: none;
    color: rgba(35, 166, 240, 1);
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.inline_row .card .card_content .card_cont h5{
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.container_fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_fluid .main_content{
    text-align: center;
    font-family: "Montserrat",sans-serif;
}

.container_fluid .main_content h2{
    color: #252B42;
    font-size: 70px;
    font-weight: 900;
    height: 120px;
}

.container_fluid .main_content p{
    color: #737373;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    bottom: 45px;
}

.container_fluid .cards{
    display: flex;
    gap: 50px;
}

.container_fluid .cards .card_content{
    margin: 25px;
    font-family: "Montserrat",sans-serif;
}

.container_fluid .cards .card_content button{
    width: 165px;
    height: 42px;
    border-radius: 37px;
    border: none;
    background: rgba(35, 166, 240, 1);
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.container_fluid .cards .card_content h6{
    font-size: 14px;
    font-weight: 600;  
    color:rgba(255, 255, 255, 1);
}

.container_fluid .cards .card_content h3{
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;  
}

.container_fluid .cards .card1 {
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(56, 56, 56, 0.84)),url(./image/media\ bg-cover.png);
    width: 331px;
    height: 452px;
    display: flex;
    align-items: end;
}

.container_fluid .cards .card2 {
    background: linear-gradient(rgba(0, 0, 0, 0),rgb(56, 56, 56)), url(./image/post.2.png);
    width: 331px;
    height: 452px;
    display: flex;
    align-items: end;
}

.container_fluid .cards .card3 {
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(56, 56, 56, 0.84)),url(./image/media\ bg-cover\ \(1\).png);
    width: 331px;
    height: 452px;
    display: flex;
    align-items: end;
}

.container_fluid .cards .card4 {
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(56, 56, 56, 0.84)),url(./image/media\ bg-cover\ \(2\).png);
    width: 331px;
    height: 452px;
    display: flex;
    align-items: end;
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(250, 250, 250, 1);
    height: 1100px;
}
.pricing .price_text{
    text-align: center;
    font-family: "Montserrat",sans-serif;
}

.pricing .price_text h2{
    font-size: 60px;
    color: #252B42;
    font-weight: 800;
}

.pricing .price_text p{
    color: #737373;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}

.pricing .price_cards {
    display: flex;
    gap: 50px;
}

.pricing .price_cards .card{
    border: solid 2px rgba(222, 222, 222, 1);
    width: 380px;
    height: 630px;
    border-radius: 10px;
}

.pricing .price_cards .card .card_text{
    text-align: center;
    font-family: "Montserrat",sans-serif;
    padding-top: 30px;
    font-weight: 700;
}

.pricing .price_cards .card .card_text p{
    color: rgba(115, 115, 115, 1);
}

.pricing .price_cards .card .card_text h1{
    font-size: 40px;
    color: rgba(35, 166, 240, 1);
}

.pricing .price_cards .card .card_text h5{
    color: rgba(142, 194, 242, 1);
}

.pricing .price_cards .card .card_text button{
    width: 250px;
    height: 55px;
    border: none;
    background: rgba(35, 166, 240, 1);
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
}

.pricing .price_cards .card .card_box{
    width: 90px;
    height: 90px;
    background: rgba(231, 124, 64, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    left: 106vh;
    top: 389vh;
}

.pricing .price_cards .card .card_ab div{
    display: flex;
    gap: 15px;
    padding-left: 50px;
    position: relative;
    top: 30px;
    align-items: center;
}

.pricing .price_cards .card .card_ab div img{
    width: 30px;
    height: 30px;
}

.mail{
    background: rgba(37, 43, 66, 1);
    height: 260px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat",sans-serif;
    gap: 75vh;
}

.mail .left h2{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.mail .left p{
    color:#fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    position: relative;
    bottom: 25px;
}

.email_btn {
    display: flex;
    align-items: center; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    overflow: hidden; 
    width: 430px;
    height: 60px; 
}

.email_btn input {
    flex: 1; 
    border: none; 
    height: 100%;
    padding: 10px;
    font-size: 16px;
    outline: none; 
}

.email_btn button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    height: 100%;
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px;
}

.email_btn button:hover {
    background-color: #0056b3;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

footer .cards{
    display: flex;
    gap: 80px;
    font-family: "Montserrat",sans-serif;
}

footer .cards h3{
    font-size: 25px;
    font-weight: 700;
    color: rgba(37, 43, 66, 1);
}

footer .cards .card{
    width: 240px;
}

footer .cards .card p{
    color: rgba(115, 115, 115, 1);
    font-weight: 500;
}

footer .second{
    background: rgba(250, 250, 250, 1);
    width: 100%;
    height: 75px;
    display: flex;
   align-items: center; 
    justify-content: center;
    font-size: 18px;
    color: #737373;
    margin-top: 80px;
}

footer .foter_icon{
    display: flex;
    gap: 20px;
}

footer .foter_icon img{
    width: 30px;
}

/* .frame1 a{

} */
 .Xursandbek{
    align-items: center;
    justify-items: center;
 }